.container {
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 1rem
}

@media (min-width:640px) {
  .container {
    max-width: 36rem
  }
}

@media (min-width:768px) {
  .container {
    max-width: 100%;
    padding-left: 6rem;
    padding-right: 6rem
  }
}

@media (min-width:1024px) {
  .container {
    max-width: 1280px;
    padding: 5rem 2rem
  }
}